$primary-color: #ffcc82;
$text-color: #1a2b5f;
$text-gray: #c6cad7;
@mixin flex-box(
  $align: flex-start,
  $justify: flex-start,
  $wrap: wrap,
  $dir: row
) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-wrap: $wrap;
  flex-direction: $dir;
}
@mixin size($width, $height: $width) {
  width: $width;
  height: $height;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%; // 1rem = 10px
}
body {
  font-family: "Poppins", sans-serif;
  line-height: 1.4;
  font-weight: 400;
  // padding-bottom: 20rem;
}
img {
  display: block;
  max-width: 100%;
}
a {
  text-decoration: none;
}
// 1440px, 1170px
.wrapper {
  max-width: 1140px;
  margin: 0 auto;
}
.container {
  max-width: 1170px;
  padding-left: 2rem;
  padding-right: 2rem;
}
.header {
  padding-top: 4rem;
  &__inner {
    @include flex-box(center, space-between);
  }
  &__menu {
    &-list {
      @include flex-box(center);
    }
    &-item {
      margin-left: 5rem;
      &:last-child {
        margin-left: 7rem;
      }
    }
    &-link {
      font-size: 1.6rem;
      color: $text-color;
      transition: color 0.25s linear, border 0.25s linear;
      &:hover {
        color: $primary-color;
      }
    }
  }
  &__login {
    display: inline-block;
    padding: 1.5rem 2.5rem;
    // border: 1px solid;
    // border-radius: 7rem;
  }
}
.logo {
  font-size: 2.5rem;
  font-weight: 600;
  color: $text-color;
  text-decoration: none;
  &__text {
    color: $primary-color;
  }
}
.banner {
  padding-top: 150px;
  max-width: 80rem;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 15rem;
  &__heading {
    font-weight: 700;
    font-size: 6rem;
    color: $text-color;
    margin-bottom: 3rem;
  }
  &__desc {
    font-size: 1.8rem;
    font-weight: 300;
    margin-bottom: 4rem;
  }
  &__buttons {
    display: flex;
    justify-content: center;
    align-items: stretch;
    .btn {
      margin: 0 1rem;
    }
  }
}
.btn {
  cursor: pointer;
  outline: none;
  font-size: 1.6rem;
  color: $text-color;
  padding: 1.5rem 3rem;
  display: inline-block;
  border: 0;
  background-color: transparent;

  &--border {
    border: 1px solid currentColor;
  }
  &--rounded {
    border-radius: 8rem;
  }
  &--primary {
    background-color: $primary-color;
    &.has-shadow {
      box-shadow: 0 10px 37px -5px $primary-color;
    }
  }
}
.category {
  &__list {
    @include flex-box(stretch, space-between, wrap);
  }
  &__item {
    width: calc(25% - 22.5px);
    padding: 2.5rem;
    background-color: #ffff;
    border-radius: 20px;
    @include flex-box(stretch, flex-start, nowrap, column);
    &:first-child {
      box-shadow: 0 20px 35px -5px rgba(255, 151, 195, 0.25);
    }
    &:nth-child(2) {
      box-shadow: 0 20px 35px -5px rgba(255, 112, 109, 0.25);
    }
    &:nth-last-child(2) {
      box-shadow: 0 20px 35px -5px rgba(133, 152, 255, 0.25);
    }
    &:last-child {
      box-shadow: 0 20px 35px -5px rgba(255, 200, 195, 0.25);
    }
  }
  &__image {
    border-radius: inherit;
    @include size(100%, 23rem);
    margin-bottom: 4rem;
    object-fit: cover;
  }
  &__name,
  &__details {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &__name {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  &__details {
    font-size: 1.4rem;
    color: $text-gray;
    margin-top: auto;
    i {
      margin-left: 1.5rem;
    }
  }
}
.feature {
  padding-top: 18rem;
  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 15rem;
    &:nth-child(odd) {
      .feature__info {
        padding-left: 10rem;
      }
    }
    &:nth-child(even) {
      flex-direction: row-reverse;
      .feature__info {
        padding-right: 10rem;
      }
    }
  }
  &__image,
  &__info {
    width: 50%;
  }
  &__image {
    object-fit: cover;
    width: inherit;
  }
  // &__info {
  //   padding-left: 10rem;
  // }
  &__title {
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 2.5rem;
    color: $text-color;
  }
  &__desc {
    font-size: 1.4rem;
    font-weight: 300;
    margin-bottom: 4rem;
    line-height: 1.8rem;
  }
  &-intro {
    &__item {
      font-weight: 600;
      margin-bottom: 2rem;
      text-decoration: underline;
      font-size: 1.8rem;
      &--circle {
        text-decoration: none;
        position: relative;
        padding-left: 3rem;
        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          @include size(2rem);
          border-radius: 2rem;
          background-color: #ff6adf;
        }
        &:nth-child(2)::before {
          background-color: #92fa3c;
        }
        &:nth-last-child(2)::before {
          background-color: #1ec0f4;
        }
        &:last-child::before {
          background-color: #ff899c;
        }
      }
    }
  }
  .feature-best__icon {
    display: flex;
  }
  &-best {
    &__icon {
      @include size(5rem);
      border-radius: 4px;
      font-size: 2rem;
      align-items: center;
      justify-content: center;
      margin-bottom: 1rem;
      color: #ffcc82;
      position: relative;
      z-index: 1;
      display: flex;
      &--lightblue {
        color: #5bbfcc;
      }
      &--oragren {
        color: #ffcc82;
      }
      &--purple {
        color: #b583e5;
      }
      &--green {
        color: #8fcd9b;
      }
      &::after {
        content: "";
        position: absolute;
        border-radius: inherit;
        width: 100%;
        height: 100%;
        background-color: currentColor;
        top: 0;
        left: 0;
        z-index: -1;
        opacity: 0.25;
      }
    }
    &__title {
      font-size: 1.8rem;
      font-weight: 600;
      margin-bottom: 1rem;
      color: $text-color;
    }
    &__desc {
      font-weight: 300;
      margin-bottom: auto;
    }
    &__list {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: -5rem;
    }
    &__item {
      width: calc(50% - 3rem);
      margin-bottom: 5rem;
    }
  }
}
.text-clamp {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  &--2 {
    -webkit-line-clamp: 2;
  }
}
.partner {
  margin-bottom: 19rem;
  &__container {
    max-width: 83rem;
    text-align: center;
    margin: 0 auto;
  }
  &__title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: $text-color;
    margin-bottom: 7rem;
    padding-bottom: 7rem;
    border-bottom: 1px solid currentColor;
  }
  &__list {
    @include flex-box(center, space-between);
  }
}

.connect {
  text-align: center;
  margin-bottom: 17rem;
  &__title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 3.5rem;
    color: $text-color;
  }
  &__noice {
    font-size: 1.8rem;
    font-weight: 600;
    color: $text-color;
    margin-bottom: 6rem;
    span {
      color: $primary-color;
    }
  }
  &__list {
    @include flex-box(stretch, space-between);
  }
  &__item {
    width: calc(25% - 22.5px);
  }
}
.subscribe {
  margin-bottom: 5rem;
  &__container {
    @include flex-box(flex-start, space-between);
    padding-bottom: 8rem;
    border-bottom: 2px solid;
  }
  &__title,
  &__info {
    width: 50%;
  }
  &__title {
    font-size: 2rem;
    font-weight: bold;
    color: $text-color;
    max-width: 43rem;
  }
  &__form {
    background-color: #f2f1f6;
    @include flex-box(center, space-between);
    padding: 2rem;
    margin-bottom: 3.5rem;
  }
  &__input,
  &__button {
    padding: 0;
  }
  &__input {
    border: 0;
    outline: none;
    background-color: transparent;
    font-size: 1.4rem;
    font-family: "Poppins";
    flex-grow: 1;
    padding-right: 1.5rem;
  }
  &__button {
    background-color: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
    font-size: 1.4rem;
    font-family: "Poppins";
  }
  &__social i {
    margin-left: 4rem;
    font-size: 2.4rem;
  }
}
.footer {
  &__container {
    @include flex-box(flex-start, space-between);
  }
  &__item {
    width: 25%;
  }
  &__link {
    color: $text-color;
    font-size: 1.4rem;
    display: block;
    margin-bottom: 3rem;
    width: fit-content;
  }
}
//RESPONSIVE
@media screen and (max-width: 1023px) {
  .banner {
    padding-top: 5rem;
    padding-bottom: 5rem;
    &__heading {
      font-size: 4rem;
      margin-bottom: 2rem;
    }
    &__desc {
      font-size: 1.8rem;
    }
    &__buttons > .btn {
      font-size: 1.4rem;
    }
  }
  .category {
    &__item {
      width: calc(50% - 22.5px);
      margin-bottom: 2.5rem;
    }
  }
  .feature {
    padding-top: 10rem;
    &__item {
      flex-direction: column;
      margin-bottom: 8rem;
      &:nth-child(even) {
        flex-direction: column;
        .feature__info {
          padding: 0;
        }
      }
      &:nth-child(odd) .feature__info {
        padding: 0;
      }
    }
    &__image,
    &__info {
      width: 100%;
    }
    &__image {
      margin: 0 auto 5rem;
    }
  }
  .partner {
    &__title {
      padding-bottom: 4rem;
      margin-bottom: 4rem;
    }
  }
}
@media screen and (max-width: 767px) {
  .header__menu {
    display: none;
  }
  .feature {
    &__title {
      font-size: 3rem;
    }
  }
  .category {
    &__item {
      width: 100%;
      margin-bottom: 2.5rem;
    }
    // &__image {
    //   height: 15rem;
    // }
  }
  .partner {
    margin-bottom: 5rem;
    &__list {
      flex-wrap: wrap;
      justify-content: center;
    }
    &__item {
      width: 50%;
      margin-bottom: 2rem;
      img {
        margin: 0 auto;
      }
    }
  }
  .connect {
    margin-bottom: 5rem;
    &__list {
      flex-wrap: wrap;
    }
    &__item {
      width: calc(50% - 1rem);
      margin-bottom: 2rem;
    }
  }
  .subscribe {
    &__container {
      flex-direction: column;
    }
    &__title {
      width: 100%;
      margin-bottom: 2rem;
    }
    &__info {
      width: 100%;
    }
    &__social i {
      margin-left: 3.5rem;
    }
  }
  .footer {
    &__container {
      flex-wrap: wrap;
    }
    &__item {
      width: 100%;
      margin-bottom: 2rem;
    }
  }
}
@media screen and (max-width: 479px) {
  .heading {
    font-size: 3rem;
  }
  .banner {
    &__buttons > .btn {
      font-size: 1.2rem;
    }
  }
}
